

.pergamino::first-letter {
    font-size: 3em;
    font-weight: bold;
    float: left;
    line-height: 1;
    margin-right: 8px;
    color: #6b4226;
    background-image: url(pergamino.jpg);
    

}

.margin {


    margin-left: 100px;
    font-family: 'Vox Populi', serif;

}